BETTER_AUTH_SECRET="your-better-auth-secret" # at least 32 characters
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

GOOGLE_CLIENT_ID="711509539073-lo0dd4p3c4nj1ajns3d8nhe4005da42j.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"

GITHUB_CLIENT_ID="Ov23liAzO9hT1ul6t0jU"
GITHUB_CLIENT_SECRET="52b4a60d2f7eec96f5b3e1d0c8f230fd4efd8fb4"